<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Comments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg');
            background-size: cover;
            backdrop-filter: blur(8px);
            padding: 20px;
            margin: 0;
            height: 100vh;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #fff;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        p {
            margin: 0;
            line-height: 1.5;
        }
        strong {
            font-weight: bold;
        }
        button {
            background-color: #dc3545;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #c82333;
        }
        .back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .back-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<a href="/admin" class="back-button">Back</a>

<h1>View Comments</h1>

<ul>
    <% comments.forEach(comment => { %>
        <li>
            <p><strong>Username:</strong> <%= comment.username %></p>
            <p><strong>Date:</strong> <%= comment.vrijemeObjave %></p>
            <p><strong>Content:</strong> <%= comment.sadrzaj %></p>
            <form action="/admin/delete-comment/<%= comment.idkomentari %>" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>

</body>
</html>

